Flask==1.1.1
Flask-MySQLdb==0.2.0
matplotlib==2.1.1
mysql==0.0.2
mysql-connector-python==8.0.18
MySQL-python==1.2.5
mysqlclient==1.4.4
networkx==1.11
numpy==1.13.3
numpy-stl==2.10.1
pandas==0.24.2
pathlib==1.0.1
pydicom==0.9.9
requests==2.22.0
scikit-image==0.13.1
scipy==0.19.1
urllib3==1.25.8
Werkzeug==0.15.5
